<html lang="ko">
    <head>
        <%- include('part/meta'); %>
            <%- include('part/title'); %>

                <!-- css 부분 -->
                <link rel="stylesheet" href="/css/menu-slide.css"/>

                <link rel="stylesheet" href="/css/profile.css"/>

                <link rel="stylesheet" href="/css/partner-sc.css"/>

                <!-- <link rel="stylesheet" href="/css/main-body.css" /> -->

            </head>
            <body>
                <script src="/js/calendar-checker.js"></script>

                <script
                    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <div class="container">
                    <div class="menu-container" id="toggle">
                        <a href="#" class="menu">
                            <i class="fa fa-bars" aria-hidden="true"></i >
                        </a>
                    </div>

                    <div id="header">
                        <a href="/space/1" title="원비트 메인으로 가기"><img src="/images/onebeat_ci_black.png" id="logo"/></a>

                        <%- include('part/spacelogin'); %>

                        </div>
                        <div>
                            <a href="/space/1">
                                <span
                                    style="
              font-size: 30;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            ">
                                    뒤로가기</span >
                            </a ><br/><br/>
                        </div>

                        <%- include('part/menu'); %>


                            <div class="reservation_list">

                                <div class="list_box_wrap">

                                    <% reserve.forEach(element => { %>




                                    <article class="list_box">
                                        <a href="/space/1">
                                            <p class="state_tag">
                                                <span class="tag tag_reservation_decide">예약확정</span><span class="reservation_num">예약번호 <%=element.id%></span></p>
                                            <dl class="list_detail">
                                                <dt class="blind">예약정보</dt>
                                                <dd class="place">
                                                    <span class="blind">예약공간</span>원스연습실 <%=element.stype%></dd>
                                                <dd class="date">
                                                    <span class="blind">날짜/시간</span>  <%=element.start%></dd>
                                                <dd class="sub_detail">
                                                    <p class="user" style="margin-right: 4px;">
                                                        <span class="blind">예약자명</span><%=element.username %></p>
                                                    <p class="tel">
                                                        <span class="blind">전화번호</span><%=element.mobile %></p>
                                                    <!-- <p class="price">
                                                        <span class="blind">가격</span>0원</p> -->
                                                </dd>
                                            </dl>
                                            <i class="sp_ico ico_links_type2"></i>
                                        </a>
                                    </article>


                                    <% }); %>

                                    
                                </div>
                                <div class="paging">
                                    <a class="btn_prev_list" href="#">
                                        <i class="sp_icon ico_prev_list">이전목록 10개로 이동</i>
                                    </a>
                                    <a class="num active" href="#">1</a>
                                    <a class="num" href="#">2</a>
                                    <a class="num" href="#">3</a>
                                    <a class="num" href="#">4</a>
                                    <a class="num" href="#">5</a>
                                    <a class="btn_next_list active" href="#">
                                        <i class="sp_icon ico_next_list">다음목록 10개로 이동</i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                    </div>

                                </body>
                            </html>

                            <html lang="ko">
                                <head>
                                    <%- include('part/meta'); %>
                                        <%- include('part/title'); %>

                                            <!-- css 부분 -->
                                            <link rel="stylesheet" href="/css/menu-slide.css"/>

                                            <link rel="stylesheet" href="/css/profile.css"/>

                                        </head>

                                    </script>

                                </body>
                            </html>