

<html lang="ko">
  <head>
    <%- include('part/meta'); %> <%- include('part/title'); %>

    <!-- css 부분 -->
    <link rel="stylesheet" href="/css/menu-slide.css" />
    
    <link rel="stylesheet" href="/css/profile.css" />

    <!-- <link rel="stylesheet" href="/css/main-body.css" /> -->
    
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <div class="container">
      <div class="menu-container" id="toggle">
        <a href="#" class="menu"
          ><i class="fa fa-bars" aria-hidden="true"></i
        ></a>
      </div>

      
    <div id="header">
      <a
        href="https://onebeat.kr/space/1"
        target="_blank"
        title="원비트 메인으로 가기"
        ><img src="/images/onebeat_ci_black.png" id="logo"
      /></a>

      <%- include('part/spacelogin'); %> 

      
    </div>


    <%- include('part/menu'); %> 

    <div>

    <% reserve.forEach(element => { %> 
      <br>-----------------------------------------------------------------
      <br>상태: 요청
      <br>공간: <%=element.stype+element.room %> 
      <br>사용자: <%=element.username+ " " + element.mobile %> 
      <br>시작: <%=element.start.format('yyyy-MM-dd(KS) HH:mm:ss')%>
      <br >종료: <%=element.end.format('yyyy-MM-dd(KS) HH:mm:ss')%>
      
      
  
      <% }); %> 
      
    </div>
    
      
    
    

  </body>
</html>

<html lang="ko">
  <head>
    <%- include('part/meta'); %> <%- include('part/title'); %>

    <!-- css 부분 -->
    <link rel="stylesheet" href="/css/menu-slide.css" />

    <link rel="stylesheet" href="/css/profile.css" />

  </head>
 

<% 
  
  Date.prototype.format = function (f) {

if (!this.valueOf()) return " ";



var weekKorName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];

var weekKorShortName = ["일", "월", "화", "수", "목", "금", "토"];

var weekEngName = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

var weekEngShortName = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

var d = this;



return f.replace(/(yyyy|yy|MM|dd|KS|KL|ES|EL|HH|hh|mm|ss|a\/p)/gi, function ($1) {

    switch ($1) {

        case "yyyy": return d.getFullYear(); // 년 (4자리)

        case "yy": return (d.getFullYear() % 1000).zf(2); // 년 (2자리)

        case "MM": return (d.getMonth() + 1).zf(2); // 월 (2자리)

        case "dd": return d.getDate().zf(2); // 일 (2자리)

        case "KS": return weekKorShortName[d.getDay()]; // 요일 (짧은 한글)

        case "KL": return weekKorName[d.getDay()]; // 요일 (긴 한글)

        case "ES": return weekEngShortName[d.getDay()]; // 요일 (짧은 영어)

        case "EL": return weekEngName[d.getDay()]; // 요일 (긴 영어)

        case "HH": return d.getHours().zf(2); // 시간 (24시간 기준, 2자리)

        case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2); // 시간 (12시간 기준, 2자리)

        case "mm": return d.getMinutes().zf(2); // 분 (2자리)

        case "ss": return d.getSeconds().zf(2); // 초 (2자리)

        case "a/p": return d.getHours() < 12 ? "오전" : "오후"; // 오전/오후 구분

        default: return $1;

    }

});

};



String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };

String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };

Number.prototype.zf = function (len) { return this.toString().zf(len); };

  %> 


</script>

  </body>
</html>
